@import "../../styles";

.footer {
  background-color: white;
  width: 100%;
  max-width: 1500px;
  margin: $space-m auto 0 auto;
  padding: $space-inset-m;
}

img {
  vertical-align: middle;
  margin-right: $space-m;
  margin-left:  $space-m;
}
