<div class="starship">
  <a routerLink="/starships">Starships</a> > <a routerLink=".">{{starshipName}}</a>
  <h2>{{starshipName}} </h2>
  <div *ngIf="!starship" ><h2>Not Found</h2></div>

  <div *ngIf="starship" class="starship-picture-and-details">
    <div class="starship-picture"><img src="/assets/Image-Placeholder.png" width="100px"/></div>
    <div class="starship-details">
      <div class="detail-row">
        <div class="detail"><label>Manufacturer</label> {{starship.manufacturer}}</div>
      </div>
      <div class="detail-row">
        <div class="detail"><label>Crew</label> {{starship.crew}}</div>
        <div class="detail"><label>Passengers</label> {{starship.passengers}}</div>
        <div class="detail"><label>Hyperdrive rating</label> {{starship.hyperdrive_rating}} years</div>
      </div>
      <div class="detail-row">
        <div class="detail"><label>Model</label> {{starship.model}}</div>
      </div>
    </div>
  </div>

  <!-- if had more pages might make this a separate re-usable component -->
  <div class="films">
    <h2>Films</h2>
    <div *ngIf="!starship.filmsO || starship.filmsO.length == 0">
      <h4>None</h4>
    </div>
    <div *ngIf="starship.filmsO && starship.filmsO.length > 0 ">
      <div *ngFor="let film of starship.filmsO">
        <h4>{{film.name}}</h4>
        <div class="detail-row">
          <div class="detail"><label>Episode</label> {{film.episode_id}}</div>
          <div class="detail"><label>Release Date</label> {{film.release_date}}</div>
        </div>
      </div>
    </div>
  </div>

  <app-pilot-list title="Pilots" [pilots]="starship.pilotsO" [embedded]=true></app-pilot-list>

</div>
