<div class="starship-list">
  <div class="search">
    <input type="search" #search placeholder="Search input"  (keyup.enter)="doSearch(search.value)">
  </div>
  <div class="starship-row" *ngFor="let starship of filteredStarships; index as i;">
    <div class="starship-cell icon-cell"><h2><app-rocket-icon></app-rocket-icon></h2></div>
    <div class="starship-cell name-cell"><h2>{{starship.name}}</h2>
      <div class="starship-counts"><span>PILOTS:</span><b>{{starship.pilots.length}}</b>
        <span class=".context-message">FILMS:</span><b>{{starship.films.length}}</b></div>
    </div>
    <div class="starship-cell details">
      <button class="mcui-btn primary pill" routerLink="/starships/{{starship.name}}">See details <span
        style="margin-left: 30px"><svg
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <title>arrow-right</title>
      <polygon
        points="22.71 8.29 21.29 9.71 26.59 15 2 15 2 17 26.59 17 21.29 22.29 22.71 23.71 30.41 16 22.71 8.29"></polygon>
    </svg></span></button>
    </div>
  </div>
  <!-- <div class="pagination">
    <button class="mcui-btn minimalist" [disabled]="!page || !page.previous" (click)="previous()">< Previous</button>
    <div>PAGE: {{pageNum}}</div>
    <button class="mcui-btn minimalist" [disabled]="!page || !page.next" (click)="next()">Next ></button>
  </div> -->
</div>



