@import "~@element/ui/modules/core";

.starship-list {
  max-width: 600px;
  width: auto;
  margin: auto;
}
.starship-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  align-items: baseline;
  box-sizing: border-box;
}


.starship-cell {
  overflow: hidden;
  word-wrap: break-word;
  min-height: inherit;

  &.details{
    margin-left: auto;
    margin-bottom: $space-l;
  }
}

.starship-summary-and-icon {
  // don't want the icon and summary to wrap, these stay on one line
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.starship-icon {
  width: 40px;
}

.starship-summary{
  width: 400px;
}

.starship-counts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  div{
    margin-right: $space-xxl
  }
  label {
    float: left;
    margint-right: $space-sm
  }
}

.pagination{
  display: flex;
  justify-content: space-between;
}

.search {
  position: relative;
}

.search:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url('/assets/search.svg') center / contain no-repeat;
}

input[type="search"] {
  padding-left: 30px !important;
}
