/* You can add global styles to this file, and also import other style files */
@import "~@element/ui/modules/core";
@import "~@element/ui/modules/typography";
@import "~@element/ui/modules/buttons.scss";
@import '~@element/ui/modules/forms';


html {
  background-color: $color-neutrals-light-grey;
  @include scroll;
}

label, .label{
  color: #595959;
  text-transform: uppercase;
  font-size: .75em;
}

$mobile: 479px !default;

//device is less than mobile width
@mixin on_mobile() {
  @media (max-width: $mobile) {
    @content;
  }
}

//device is greater than mobile width
//opposite of on_mobile()
@mixin not_mobile() {
  @media (min-width: $mobile + 1) {
    @content;
  }
}
